<!DOCTYPE html>
<html>
    <main>
      {% include "components/header.html" %}
      <div class='body_text'>
        <h1>
        <a href='/'>
          ERDDAP
        </a> / griddap</h1>
        <p>
          Griddap lets you use the OPeNDAP hyperslab protocol to request 
          data subsets, graphs, and maps from gridded datasets (for example, 
          satellite data and climate model data). For details, see:
        </p>
        <a href='https://www.ncei.noaa.gov/erddap/griddap/documentation.html' target="_blank" rel="noopener noreferrer">
          - ERDDAP&apos;s griddap Documentation.
        </a>
      </div>
      {% include "components/table.html" %}
      {% include "components/footer.html" %}
    </main>
</html>