<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/style.css?v=6">
    <title>FastAPI with CSS</title>
  </head>
  <div>
    <main>
      {% include "components/header.html" %}
      <div class='body_text'>
        <h1>
        <a href='/'>
          ERDDAP
        </a> / griddap</h1>
        <p>
          Griddap lets you use the OPeNDAP hyperslab protocol to request 
          data subsets, graphs, and maps from gridded datasets (for example, 
          satellite data and climate model data). For details, see:
        </p>
        <a href='https://www.ncei.noaa.gov/erddap/griddap/documentation.html' target="_blank" rel="noopener noreferrer">
          - ERDDAP&apos;s griddap Documentation.
        </a>
      </div>
      <div id='popup' class="popup">
        <div class="popup-content">
          <div class='popup-body'>
            <h1>Summary:</h1>
            <p id='popup-body'>Griddap lets you use the OPENDAP hyperslab protocol to request
          data subsets, graphs, and maps from gridded datasets (for example, 
          satellite data and climate model data). For details, see:</p>
          </div>
          <button class="popup-close">close</button>
        </div>
      </div>
      {% include "components/table.html" %}
      <div class='body_text'>
        <p>
          The information in the table above is also available in 
          other file formats (.csv, .htmlTable, .itx, .json, .jsonlCSV1, 
          .jsonlCSV, .jsonlKVP, .mat, .nc, .nccsv, .tsv, .xhtml)
          <a href='https://www.ncei.noaa.gov/erddap/rest.html' target="_blank" rel="noopener noreferrer">
            via a RESTful web service.
          </a>
        </p>
      </div>
      {% include "components/footer.html" %}
    </main>
</html>