<div class='header'>
    <a href="https://www.noaa.gov/">
      <img class='header_image' src="/static/images/noaab.png" alt="noaab Logo" />
    </a>
    <div class='header_text'>
      <h1>ERDDAP</h1>
      <h2>Easier access to scientific data</h2>
    </div>
    <p>Brought to you by
      <a href='https://www.noaa.gov/' target="_blank" rel="noopener noreferrer">NOAA</a>  
      <a href='https://www.fisheries.noaa.gov/' target="_blank" rel="noopener noreferrer">NMFS</a>  
      <a href='https://www.fisheries.noaa.gov/about/southwest-fisheries-science-center' target="_blank" rel="noopener noreferrer">SWFSC</a>
      <a href='https://www.fisheries.noaa.gov/about/environmental-research-division-southwest-fisheries-science-center' target="_blank" rel="noopener noreferrer">ERD</a>
    </p>
</div>