/* Skeleton animation */
@keyframes skeleton-pulse {
    0% {
      background-color: rgba(83, 83, 83, 0.466);
    }
    50% {
      background-color: rgba(150, 150, 150, 0.3);
    }
    100% {
      background-color: rgba(83, 83, 83, 0.466);
    }
  }

/* === TABLE === */
table {
    height: 100%;
  }
  
  th {
    height: 4.5rem;
  }
  
  th div{
    background-color: rgba(83, 83, 83, 0.466);
    padding: 0.85rem;
    border-radius: 4px;
    animation: skeleton-pulse 2s ease-in-out infinite;
  }

  td div{
    background-color: rgba(83, 83, 83, 0.466);
    padding: 0.85rem;
    border-radius: 4px;
    animation: skeleton-pulse 2s ease-in-out infinite;
  }

  tr {
    height: 5.5rem;
  }

  