<footer>
    <p>ERDDAP, Version 2.23</p>
    <p>
      <a href='https://www.ncei.noaa.gov/erddap/legal.html' target="_blank" rel="noopener noreferrer">
        Disclaimers
      </a>
      | 
      <a href='https://www.ncei.noaa.gov/erddap/legal.html#privacyPolicy' target="_blank" rel="noopener noreferrer">
        Privacy Policy
      </a>
      | 
      <a href='https://www.ncei.noaa.gov/erddap/legal.html#contact' target="_blank" rel="noopener noreferrer">
        Contact
      </a>    
    </p>
</footer>